body{
	margin: 0px;
	padding: 20px 10px 20px 30px;
	font: 14px Gotham;
	color:rgb(255,255,255);
	background-color:rgb(0,0,0);
}

p{margin: 0px 0px 1em 0px;}
a, a:visited{color:#00f;}
img.background{position: fixed; right:0px; bottom:0px;}

.title{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 70px;
	height: 100%;
	background:url(../images/title_large.png) no-repeat 5px 5px;
}

.gallery{width: 80%; margin: 0px auto; position: relative;}

.sorting {margin:0px 0px 15px 0px; border:1px solid #FFFFFF; border-radius:12px; background-color:rgba(255,255,255,.3);}
.sorting span{padding: 0px 20px 0px 0px; color:#FFFFFF; font-style: italic;}
.sorting div{margin: 10px 0px 10px 10px;}
.sorting a{
	color:#fff;
	font-size:.85em;
	text-transform:uppercase;
	padding: 3px 20px 3px 20px;
	background:url(../images/check_normal.gif) no-repeat 0px 3px;
}

.sorting a:hover{color:#e5aa2c;}
.sorting a.selected{color:#e5aa2c; background-image: url(../images/check_selected.gif);}

.thumbnail_container{position: relative; background-color:rgba(255,255,255,.3);}
.thumbnail_container a.thumbnail {position: absolute;}
.thumbnail_container img{width:300px; height:450px; border: 1px solid #FFFFFF}

.clear_both{ clear:both; line-height:1px;}





